BASE_URL = http://3.38.79.19
PRODUCT_BUNDLE_IDENTIFIER = com.newdok.test
ASSETCATALOG_COMPILER_APPICON_NAME = DevAppIcon
CFBundleDisplayName = 뉴독-Test
DEVELOPMENT_TEAM = AU24ZRJ649
NSAppTransportSecurity = YES
NSAllowsArbitraryLoads = YES
SWIFT_INCLUDE_PATHS = $(inherited)
FRAMEWORK_SEARCH_PATHS = $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited)
OTHER_LDFLAGS = $(inherited)
